@model IEnumerable<SistemaCaminhoneiro.Models.Motorista>

@{
    ViewBag.Title = "ObterCaminhoneiro";
}

<h2>ObterCaminhoneiro</h2>

<p>
    @Html.ActionLink("Adicionar Motorista", "IncluiCaminhoneiro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eixo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
      
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eixo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
      
      
        <td>
            @Html.ActionLink("Editar", "EditarCaminhoneiro", new { id = item.Cod }) |
            @Html.ActionLink("Excluir", "ExcluirCaminhoneiro", new { id = item.Cod }, new { onclick = "return confirm('Tem certeza que deseja excluir?');" })
        </td>
    </tr>
}

</table>
